---
import "../../styles/style.css";
import Footer from '../../components/Footer.astro'
import { getCollection } from "astro:content";
import { ViewTransitions } from 'astro:transitions';



export async function getStaticPaths() {
  const languageEntries = await getCollection("languages");
  return languageEntries.map(i => ({ params: { language: i.slug } }));
}

const languageCollection = await getCollection("languages");
const { language } = Astro.params;
const selectedLanguage = languageCollection.find((lang) => lang.slug === language);
---

<html lang={selectedLanguage?.data.iso}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <ViewTransitions />
    <title>M&D's Wedding</title>
  </head>

  <body>
    
    <main transition:animate="slide">

        <div class="homepage">

        <section id="form" class="rsvp_form">
            <form
                    action="https://formspree.io/f/xrgnlbyp"
                    method="POST"
                    >
                    <h2>RSVP</h2>
                    <label>
                      {selectedLanguage?.data.fullName}
                        <input type="text" name="fullName" required>
                    </label>
                    <label>
                      {selectedLanguage?.data.phoneNumber}
                        <input type="tel" name="phoneNumber" required>
                    </label>
                    <label>
                      {selectedLanguage?.data.email}
                         <input type="email" name="email" required>
                     </label>
                     <label>
                      {selectedLanguage?.data.diet}
                        <textarea name="dietRestict" required></textarea>
                     </label>
                     <label for="plus">{selectedLanguage?.data.guests}</label>
                     <select name="plus" id="plus"  onchange="showPopup()" required="">
                         <option value="0" selected="">0</option>
                         <option value="1">1</option>
                         <option value="2">2</option>
                         <option value="3">3</option>
                         <option value="4">4</option>
                     </select>

                      <!-- Popup div -->
            <div id="modal-overlay" class="overlay" onclick="hidePopup()"></div>
            <div id="popup" class="popup">
               
                <h3>{selectedLanguage?.data.additionalInfo}</h3>
                <!-- Add additional form fields for guests -->
                <label>
                  {selectedLanguage?.data.guestName}
                  <input type="text" name="guestName" required>
                  <p style="font-size: .5rem; color: grey"><i>Separate names of guests using a comma.</i></p>
                </label>
                <label>
                  {selectedLanguage?.data.guestDiet}
                    <textarea name="guestDietRestict" required></textarea>
                 </label>
  
                <button type="button" onclick="hidePopup()">{selectedLanguage?.data.closeBtn}</button>
              </div>
         
                    <!-- your other form fields go here -->
                <button type="submit">{selectedLanguage?.data.submitBtn}</button>
        </form>
        </section>
        </div>
   
        </main>
        <Footer/>
        
  </body>
  <script is:inline>
    function showPopup() {
      const overlay = document.getElementById("modal-overlay");
      const guestsSelect = document.getElementById("plus");
      const popup = document.getElementById("popup");

      if (guestsSelect.value > 0) {
        overlay.style.display = "block";
        popup.style.display = "block";
      } else {
        overlay.style.display = "none";
        popup.style.display = "none";
      }
    }

    function hidePopup() {
      const overlay = document.getElementById("modal-overlay");
      const popup = document.getElementById("popup");

      overlay.style.display = "none";
      popup.style.display = "none";
    }
  </script>
</html>