---
import "../../styles/style.css";
import Footer from '../../components/Footer.astro'
import { getCollection } from "astro:content";
import { ViewTransitions } from 'astro:transitions';



export async function getStaticPaths() {
  const languageEntries = await getCollection("languages");
  return languageEntries.map(i => ({ params: { language: i.slug } }));
}

const languageCollection = await getCollection("languages");
const { language } = Astro.params;
const selectedLanguage = languageCollection.find((lang) => lang.slug === language);
---

<html lang={selectedLanguage?.data.iso}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <ViewTransitions />
    <title>M&D's Wedding</title>
  </head>

  <body>
    
    <main transition:animate="slide">
      <!-- <div data-tf-live="01HWTNTBFJ2JMXP7BY172GTXAD"></div> -->


        <!-- <div class="homepage"> -->

        <section id="form" class="rsvp_form">
      
            <form 
                    action="https://formspree.io/f/xrgnlbyp"
                    method="POST"
                    >
                    <h2>RSVP</h2>
                    <!-- <h3 id="full"></h3> -->
                    <label>
                      {selectedLanguage?.data.fullName}:
                        <input type="text" name="fullName" required>
                    </label>
                    <label>
                      {selectedLanguage?.data.email}:
                        <input type="text" name="email">
                    </label>
                    <!-- <p>We are looking forward to celebrating with you!</p> -->
                    <label>Will you be able to join us on the 10th of August? </label>

                    <div class="flex">
                      <label class="reverse" onchange="showPopup2()">
                        <input id="yes" type="radio" name="attending" value="yes" /> Yes
                      </label>
                      <label class="reverse" onchange="showPopup()">
                        <input id="no" type="radio" name="declining" value="no" /> Sorry
                      </label>
                    </div>
       
            <!-- <div id="modal-overlay" class="overlay" onclick="hidePopup()"></div>
            <div id="popup" class="popup">
               
              <button type="button" onclick="hidePopup()" class="close">{selectedLanguage?.data.closeBtn}</button>


                <h1></h1>
                <p>We're sorry to hear you can't make it!</p>
                <p>
                If, by any chance your plans will change, and you can attend, please let us know before 5th July by phone at 31322826 (Mick) or 25288758 (Diana).</p>
   

              </div>
         

              <div id="modal-overlay2" class="overlay" onclick="hidePopup2()"></div>
              <div id="popup2" class="popup">
                <button type="button" onclick="hidePopup2()" class="close">{selectedLanguage?.data.closeBtn}</button>
  
  
  
                <label for="persons">{selectedLanguage?.data.guests}</label>
                <select name="persons" id="plus"   required="">
                    <option value="1" selected>1</option>
                    <option value="2">2</option>
                </select>
                
              
                </div>
  
        
                <button type="submit">{selectedLanguage?.data.submitBtn}</button> -->



                  <!-- This div contains the "how many" input -->
          <div id="guestsInput" style="display: none;">
            <label for="persons">{selectedLanguage?.data.guests}</label>
            <select name="persons" id="plus" required="">
              <option value="1" >1</option>
              <option value="2" selected>2</option>
            </select>
          </div>

          <!-- This div contains the "sorry" message -->
          <div id="sorryMessage" style="display: none;">
            <p>We're sorry to hear you can't make it!</p>
            <p>If, by any chance your plans will change, and you can attend, please let us know before 5th July by phone at 31322826 (Mick) or 25288758 (Diana).</p>
          </div>

          <button type="submit">{selectedLanguage?.data.submitBtn}</button>
        </form>
         </section> 
        </div>
   
        </main>
        <Footer/>
        
  </body>
  <script is:inline>

  function getUrlParameter(name) {
    name = name.replace(/[\[\]]/g, "\\$&");
    const regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)");
    const results = regex.exec(window.location.href);
    if (!results) return null;
    if (!results[2]) return '';
    return decodeURIComponent(results[2].replace(/\+/g, " "));
  }

  // Get the fullName parameter from the URL
  const fullNameParam = getUrlParameter('fullName');

  // Set the value of the fullName input field
  const fullNameInput = document.querySelector('input[name="fullName"]');
  const h2 = document.querySelector("#full")
  if (fullNameInput && fullNameParam) {
    fullNameInput.value = fullNameParam;



    document.querySelector("form").addEventListener("submit", function(event) {
  const yesRadio = document.getElementById("yes");
  const noRadio = document.getElementById("no");

  if (!yesRadio.checked && !noRadio.checked) {
    event.preventDefault(); // Prevent form submission
    alert("Please select either 'Yes' or 'Sorry'.");
  }
});


    // h2.innerHTML = "Dear " + fullNameParam + ","
  }

//     function showPopup() {
  



//       const overlay = document.getElementById("modal-overlay");
//       const guestsSelect = document.getElementById("no");
//       console.log(guestsSelect)
//       const popup = document.getElementById("popup");

//       if (guestsSelect.value === "no") {
//         overlay.style.display = "block";
//         popup.style.display = "block";
//       } else {
//         overlay.style.display = "none";
//         popup.style.display = "none";
//       }
//     }

//     function hidePopup() {
//       const overlay = document.getElementById("modal-overlay");
//       const popup = document.getElementById("popup");

//       overlay.style.display = "none";
//       popup.style.display = "none";
//     }




//     function showPopup2() {
  



//   const overlay = document.getElementById("modal-overlay2");
//   const guestsSelect = document.getElementById("yes");
//   console.log(guestsSelect)
//   const popup = document.getElementById("popup2");

//   if (guestsSelect.value === "yes") {
//     overlay.style.display = "block";
//     popup.style.display = "block";
//   } else {
//     overlay.style.display = "none";
//     popup.style.display = "none";
//   }
// }

// function hidePopup2() {
//   const overlay = document.getElementById("modal-overlay2");
//   const popup = document.getElementById("popup2");

//   overlay.style.display = "none";
//   popup.style.display = "none";
// }


const yesRadio = document.getElementById("yes");
  const noRadio = document.getElementById("no");
  const guestsInput = document.getElementById("guestsInput");
  const sorryMessage = document.getElementById("sorryMessage");

  yesRadio.addEventListener("change", () => {
    if (yesRadio.checked) {
      guestsInput.style.display = "block";
      sorryMessage.style.display = "none";
    }
  });

  noRadio.addEventListener("change", () => {
    if (noRadio.checked) {
      guestsInput.style.display = "none";
      sorryMessage.style.display = "block";
    }
  });


  </script>

<script is:inline src="//embed.typeform.com/next/embed.js"></script>

 
</html>